.creacion-spot {
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  padding: 2rem 1rem;
  margin-top: 3rem !important;
}

@media (max-width: 768px) {
  .creacion-spot {
    margin-top: 5rem !important;
  }
}
