.feed-container {
  flex-direction: column;
  align-items: center;
}

.body-no-scroll {
  overflow: hidden;
}

@keyframes modalAppear {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .feed-container {
    padding: 0 0.5rem;
  }
}