.menu-inicio-logo{
    padding-right: 80px;
}
.container{
    margin: 0;
}
.menu-navbar{
    margin:0;
    padding: 0;
    width: 100%;
    background-color: var(--color-light);
}
.menu-container{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:  var(--color-light);
}
.menu-nav{
    background-color: var(--color-primary);
}
.menu-button-login{
    background-color:var(--color-primary) ;
    color: var(--color-light);
}
