.pg-inicio-titulo{
    font-weight: bold;
    margin-top: 2vh;
}
.pg-inicio-parrafo{
    font-size: x-large;
}
.pg-inicio-imagen-main {
    width: 66vw;
    height: 80vh;
    margin-bottom: 70px;
    border-radius: 10px;
}
.pg-inicio-img-inspo{
    margin-top: 2vh;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
}
.inspo-user{
    margin-top: 15px;
    font-weight: bold;
}
.pg-inicio-contenedor{
    background-color: var(--color-light);
    width: 40vh;
    height: 20vh;
    margin-bottom: 5vh;
    border-radius: 10px;
}